@use "./styles/variables/variables.scss" as c;
@import url("./styles/mixins/nostyle.scss");
@import url("./page.scss");
@import url("./styles/reviews-container/reviews-container.scss");
@import url("./styles/loader/loader.scss");
@import url("./styles/shopping-cart-container/shopping-cart-container.scss");

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: c.$gray100;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}