@use "../variables/variables.scss" as c;

.goods-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;

    &__goods-list {
        display: flex;
        flex-wrap: wrap;
    }

    &__goods-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: c.$gray50;
        border-radius: 15px;
        padding: 7px;
        font-family: c.$font;
    }

    &__goods-figure {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    &__item-image {
        border: 1px solid transparent;
    }


    &__item-image-caption {
        text-align: center;
        font-size: 30px;
    }

    &__item-description {
        width: 100%;
        margin-top: 25px;
        overflow: auto;
    }

    &__item-price {
        font-size: 18px;
    }

    &__item-form {
        width: 100%;
    }

    &__item-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__item-minus {
        width: 68px;
        height: 68px;
    }

    &__item-count {}

    &__item-plus {
        width: 68px;
        height: 68px;
    }

    &__item-btn {}
}


@media screen and (min-width: 332px) and (max-width: 660px) {

    .goods-container {

        &__goods-list {
            width: 331px;
        }

        &__goods-item {
            width: 324px;
            height: auto;
            margin-bottom: 20px;
        }

        &__goods-figure {
            width: 309px;
            height: 400px;
        }

        &__item-image {
            width: 349px;
            height: 406px;
        }


        &__item-description {
            height: auto;
        }

        &__item-btn {
            height: 68px;
            width: 100%;
        }

        &__item-count {
            width: 174px;
        }

    }
}

@media screen and (min-width: 660px) and (max-width: 900px) {

    .goods-container {

        &__goods-list {
            width: 622px;
            gap: 20px;
        }

        &__goods-item {
            width: 287px;
            height: 798px;
        }

        &__goods-figure {
            width: 281px;
            height: 400px;
        }

        &__item-image {
            width: 321px;
            height: 406px;
        }


        &__item-description {
            height: 200px;
        }

        &__item-btn {
            height: 68px;
            width: 100%;
        }

        &__item-count {
            width: 128px;
        }


    }
}

@media screen and (min-width: 900px) {

    .goods-container {

        &__goods-list {
            width: 943px;
            gap: 20px;
        }

        &__goods-item {
            width: 287px;
            height: 798px;
        }

        &__goods-figure {
            width: 281px;
            height: 400px;
        }

        &__image-wrapp {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: fit-content;
            border-radius: 15px;
            overflow: hidden;
        }

        &__item-image {
            width: auto;
            height: auto;
        }


        &__item-description {
            height: 200px;
        }


        &__item-btn {
            height: 68px;
            width: 100%;
        }

        &__item-count {
            width: 128px;
        }

    }
}